{% extends "base.html" %}

{% block content %}

    <form action="/newpost" method='post'>
        <div class="form-group">
            <label for="title">Post Title:</label>
            <input class="form-control" type="text" name='title' />
            
        </div>
       
        <div class="form-group">
            <label for="body">Post Body:</label>
            <textarea class="form-control" rows="8" cols="50" maxlength="1000" name='body'></textarea>
        </div>
        <input type="submit" value='Add Post' class="btn btn-primary" />
    </form>

{% endblock %}